<!-- navbar component -->
<div class="main-container">
  <div class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="#">
      <i class="fa fa-cocktail">Mixology</i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/cocktails/new">Create Your Cocktail</a>
        </li>
      </ul>
    </div>
  </div>
<!-- banner -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'cocktail_bar.jpeg' %>');">
    <div class="banner-content">
      <h1><strong>Your personal Cocktail Kit</strong></h1>
      <h3>Get creative and discover your favorite cocktail</h3>
      <%= link_to "Create Your Cocktail", new_cocktail_path, class: "btn btn-ghost btn-lg" %>
    </div>
  </div>

  <div class="container-index mt-4">
    <!-- list of cocktails -->
    <h1 id="cocktail-list">Cocktail Menu</h1>
      <div class="cards-grid">
        <% @cocktails.each do |cocktail| %>
          <div class="card-cocktail">
            <% if cocktail.photo.url.nil? %>
              <div class= "card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1486428263684-28ec9e4f2584?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80)">
                  <!-- need link to cocktail show -->
                  <img src="https://images.unsplash.com/photo-1486428263684-28ec9e4f2584?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="Cocktail">
                  <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
              </div>
          </div>
            <% else %>
          <div class= "card-description" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_tag cocktail.photo, height: 100, width: 200, crop: :fill %>)">
            <!-- need link to cocktail show -->
            <!-- cl_image_tag cocktail.photo, height: 100, width: 200, crop: :fill %> -->
            <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
          </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
