<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'cocktail_bar.jpeg' %>');">
  <div class="banner-content">
    <h1><strong>Mixology</strong> - Your personal Cocktail Kit</h1>
    <p>Get creative and discover your favorite cocktail</p>
    <%= link_to "Create New Cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>


<div class="container">
  <h1>Cocktail Menu</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-12 col-md-6 col-lg-3">
      <% if cocktail.photo.url.nil? %>
        <div class= "card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1486428263684-28ec9e4f2584?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80)">
            <!-- need link to cocktail show -->
            <img src="https://images.unsplash.com/photo-1486428263684-28ec9e4f2584?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="Cocktail">
            <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
        </div>
    </div>
    <% else %>
      <div class= "card-description" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_tag cocktail.photo, height: 100, width: 200, crop: :fill %>)">
          <!-- need link to cocktail show -->
          <!-- cl_image_tag cocktail.photo, height: 100, width: 200, crop: :fill %> -->
          <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>

